:root { 
    --title-color: rgba(15, 177, 218, 0.863);
    --subtitle-color: rgb(241, 123, 123);
    --background-color: rgb(235, 235, 235);
    --review-color: rgb(221, 218, 218);
    --review-shadow-color: rgb(209, 205, 205);

    --grid-gap: 15px;
    --review-padding: 15px;
    --content-box-size: 420px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    max-width: 1024px;
}

.container h2 {
    color: var(--title-color);
    border-bottom: 1px solid var(--review-shadow-color);
    padding-bottom: 6px;
}

.nav nav {
    display: grid;
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;

    margin-top: var(--review-padding);
    margin-bottom: var(--review-padding);
}

@media (min-width: 420px) {
    .nav {
        display: none;
    }
}

section {
    display: grid;
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--content-box-size), 1fr));

    margin-bottom: var(--grid-gap);
}

@media (max-width: 420px) {
    section {
        grid-template-columns: 1fr;
    }
}

section h3 {
    margin-bottom: 2px;
    color: var(--subtitle-color);
    margin-top: var(--review-padding);
}

section article {
    background-color: var(--review-color);
    border-radius: 3px;
    border-bottom: 5px solid var(--review-shadow-color);
    border-right: 5px solid var(--review-shadow-color);

}

section p {
    margin-top: 2px;
    padding: 10px;
}

section div {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--review-padding);
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
        opacity: 0;
    }

    to {
        transform: rotateZ(360deg);
        opacity: 1;
    }
}

section div span {
    animation: spin 1.25s linear 0.25s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    opacity: 0;
}

footer {
    margin-bottom: var(--grid-gap);
    color: var(--title-color);
}